<!-- include header -->
  <%- include('include/_header')%>
<!-- /include header -->

<body>
    <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <div class="filter">
                        <a href="/"><i class="fas fa-angle-double-left"></i> All Tickets</a>
                    </div>
                </div>
                <div class="form-title text-center">
                    <h2 class="text-dark">New Ticket</h2>
                    <span class="text-light">Use the below form to create a new ticket</span>
                </div>

                <!-- add new task form -->
                <%- include('include/_newForm')%>

            </div>
        </main>
    <!-- /Main Site -->
</body>
</html>

<!-- include footer-->
    <%- include('include/_add_update_footer')%>
<!-- /include footer -->