<!-- include header -->
<%- include('include/_header')%>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="form-title text-center">
                <h2 class="text-dark">All Tickets</h2>
                <span class="text-light">View and manage your tickets</span>
            </div>

            <!-- Form Handling -->
            <form action="/" method="POST">
                <table id="ticketTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th >Row</th>
                            <th onclick="sortTable(1)"><i class="fas fa-hashtag"></i> Ticket Id<span class="sort-icon"><i class="fas fa-sort-down"></i></span></th>
                            <th onclick="sortTable(2)"><i class="fas fa-align-left"></i> Summary<span class="sort-icon"><i class="fas fa-sort-down"></i></span></th>
                            <th onclick="sortTable(3)"><i class="fas fa-check"></i> Status<span class="sort-icon"><i class="fas fa-sort-down"></i></span></th>
                            <th onclick="sortTable(4)"><i class="fa-regular fa-circle-user"></i> Assignee<span class="sort-icon"><i class="fas fa-sort-down"></i></span></th>
                            <th onclick="sortTable(5)"><i class="fa-regular fa-calendar"></i> Due Date<span class="sort-icon"><i class="fas fa-sort-down"></i></span></th>
                            <th onclick="sortTable(6)"><i class="fas fa-bolt"></i> Priority<span class="sort-icon"><i class="fas fa-sort-down"></i></span></th>
                            <th><!-- buttons here --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show')%>
                    </tbody>
                </table>
            </form>
            <div class="box-nav d-flex justify-between float-right">
                <a href="/add-task" class="border-shadow primarybtn">
                    <span class=""><i class="fa-solid fa-plus"></i> New Ticket
                    </span>
                </a>
            </div>
        </div>
    </main>
    <!-- /Main Site -->

    <!-- include footer-->
    <%- include('include/_footer')%>
        <!-- /include footer -->