<!-- Form Handling -->
<form action="/api/tasks" method="POST" id="add_task">
    <div class="new_task">
        <div class="form-group">
            <label for="summary" class="text-light">Task Summary</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="summary" value="" placeholder="Create a new task">
        </div>

        <div class="form-group">
            <label for="assignee" class="text-light">Assignee</label>
            <input type="text" name="assignee" value="" placeholder="Dorothy Marks">
        </div>

        <div class="form-group">
            <label for="dueDate" class="text-light">Due Date</label>
            <input type="date" name="dueDate" value="" placeholder="">
        </div>
        
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-1" name="status" value="Not Started">
                <label for="radio-1" class="radio-label">Not Started</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="status" value="In Progress">
                <label for="radio-2" class="radio-label">In Progress</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="status" value="Completed">
                <label for="radio-3" class="radio-label">Completed</label>
            </div>
        </div>

        <div class="form-group">
            <label for="priority" class="text-light">Priority</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="priority" value="Low">
                <label for="radio-4" class="radio-label">Low</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="priority" value="Medium">
                <label for="radio-5" class="radio-label">Medium</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="priority" value="High">
                <label for="radio-6" class="radio-label">High</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="priority" value="Critical">
                <label for="radio-7" class="radio-label">Critical</label>
            </div>
        </div>


        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>