<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task Management Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!--Header-->
	<header id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="header-container d-flex justify-content-between">
			<a href="/" class="nav-brand"><i class="fa-solid fa-otter"></i> Gira</a>
			<div class="nav-nav">
				<form class="nav-item form-inline my-2 my-lg-0">
				  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				</form>
				<a class="nav-item nav-link" href="#"><i class="fa-solid fa-bell"></i></a>
				<a class="nav-item nav-link" href="#"><i class="fa-solid fa-cog"></i></a>
				<a class="nav-item nav-link" href="#"><i class="fa-solid fa-question-circle"></i></a>
				<a class="nav-item nav-link" href="#"><i class="fa-solid fa-user"></i></a>
			</div>
		  </div>
		</nav>
	  </header>
	  
	<!--/Header-->
</body>